tswift
regex
youtube_dl
telethon==1.34.0
shortuuid==1.0.11
SQLAlchemy==2.0.27
regex==2023.12.25
python-arq==6.0.5
nekos.py==1.1.0
pyjokes
psycopg2-binary==2.9.9
pynewtonmath==1.0.1
pymongo[srv]==4.6.2
pyrate-limiter==3.1.1
lxml==5.1.0
html2text==2020.1.16
humanize==4.9.0
jikanpy==4.3.2
markdown2==2.4.13
alphabet-detector==0.0.7
bleach==6.1.0
cachetools==5.3.3
dateparser==1.2.0
emoji==2.9.0
emoji-country-flag==1.3.2
numpy==1.26.4
opencv-python
aiofiles
bard
SpeechRecognition
pornhub-api==0.2.0
aiohttp 
asyncio 
beautifulsoup4
daxxhub
deepai
python-whois
dnspython
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor 
numpy
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
search_engine_parser
py-tgcalls==0.9.7
pykeyboard
pyshorteners
pyrogram==2.0.106
python-dotenv
pyyaml==6.0.1
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
yt-dlp
youtube-search
youtube-search-python
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.5.1
httpx==0.26.0
gpytranslate
openai==0.28.0
pickledb
python-telegram-bot==20.8
img2pdf
cloudscraper
pycryptodome
opencv-python
